html
    head
        title  Web Devlopers CheatSheet
        block scripts  
        block style 
    Body

        div#navbar
            ul

                div#logo
                    img(src="/static/img/logo.png")
                    //- | Hip HOP 

                li #[a(href="/home") Home]
                li #[a(href="/HTML") HTML]
                li #[a(href="/CSS") CSS]
                li #[a(href="/Java") JAVA Script]
                li #[a(href="/Mongodb") Mongo db]
        block content
            <hr>
        footer#foot
            #con1 Web Devlopers.com
            #con2 © 2021 Proudly Powered by Swapnil Bankar Private Limited
            img(src="../static/img/footer.png", alt="error", srcset="")
